@font-face{
    font-family: "qlassik";
    src:url("fonts/qlassik/qlassik.ttf") format("truetype"),
    url("fonts/qlassik/qlassik.eot") format("eot"),
    url("fonts/qlassik/qlassik.woff") format("woff"),
    url("fonts/qlassik/qlassik.svg#qlassik") format("svg");
}

@font-face{
    font-family: "trebuchetms";
    src:url("fonts/trebuchetms/trebuchetms.ttf") format("truetype"),
    url("fonts/trebuchetms/trebuchetms.eot") format("eot"),
    url("fonts/trebuchetms/trebuchetms.woff") format("woff"),
    url("fonts/trebuchetms/trebuchetms.svg#trebuchetms") format("svg");
}
@font-face{
    font-family: "georgia";
    src:url("fonts/georgia/georgia.ttf") format("truetype"),
    url("fonts/georgia/georgia.eot") format("eot"),
    url("fonts/georgia/georgia.woff") format("woff"),
    url("fonts/georgia/georgia.svg#georgia") format("svg");
}
@font-face{
    font-family: "verdana";
    src:url("fonts/verdana/verdana.ttf") format("truetype"),
    url("fonts/verdana/verdana.eot") format("eot"),
    url("fonts/verdana/verdana.woff") format("woff"),
    url("fonts/verdana/verdana.svg#verdana") format("svg");
}
@font-face{
    font-family: "lato-bold";
    src:url("fonts/lato-bold/lato-bold.ttf") format("truetype"),
    url("fonts/lato-bold/lato-bold.eot") format("eot"),
    url("fonts/lato-bold/lato-bold.woff") format("woff"),
    url("fonts/lato-bold/lato-bold.svg#lato-bold") format("svg");
}
@font-face{
    font-family: "lato-regular";
    src:url("fonts/lato-regular/lato-regular.ttf") format("truetype"),
    url("fonts/lato-regular/lato-regular.eot") format("eot"),
    url("fonts/lato-regular/lato-regular.woff") format("woff"),
    url("fonts/lato-regular/lato-regular.svg#lato-regular") format("svg");
}
@font-face{
    font-family: "fulbo-retro";
    src:url("fonts/fulbo-retro/fulbo-retro.ttf") format("truetype"),
    url("fonts/fulbo-retro/fulbo-retro.eot") format("eot"),
    url("fonts/fulbo-retro/fulbo-retro.woff") format("woff"),
    url("fonts/fulbo-retro/fulbo-retro.svg#fulbo-retro") format("svg");
}
